@media (max-width: 1024px ) {
     .navigation {
          display: none;
     }
     .burger {
          display: block;
          order: 1;
     }
     .logo {
          order: 2;
     }
     .auto-div {
          order: 3;
     }
     .conteiner-1 {
          flex-direction: column-reverse;
          max-width: 896px;
          width: 90%;
          height: 813.38px;
          row-gap: 64px;
          justify-content: center;
          text-align: center;
          padding-top: 64px;
          padding-bottom: 64px;
     }
     .right-block {
          width: 90%;
     }
     .left-block {
          max-width: 896px;
          width: 100%;
          height: 100%;
          display: flex;
          row-gap: 43px;
          justify-content: center;
          align-items: center;
     }
     .travel {
          font-size: 56px;
          text-align: center;
          width: 70%;
          margin: 0 auto;
     }
     .icon {
          height: 224px;
          flex-wrap: wrap;
          justify-content: center;
          column-gap: 27px;
          row-gap: 32px;
     }
     .title-reit {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 100%;
          height: 256px;
          row-gap: 64px;
     }
     .contein-arrow {
          margin: 0 auto;
     }
     .image-class {
          height: 314px;
     }
     .mini-conteiner {
          column-gap: 31px;
     }
     .div-about {
          row-gap: 16px;
     }
     .about-cost {
          flex-direction: column-reverse;
          row-gap: 8px;
     }
     .title-clas {
          height: 261px;
     }
     .conteiner-3 {
          flex-direction: column;
          height: 1469px;
          padding-bottom: 64px;
          row-gap: 64px;
          margin-left: 0px;
     }
     .girl {
          width: 871px;
          width: 100%;
          height: 697px;
     }
     .blok {
          width: 100%;
          height: 580px;
          row-gap: 64px;
     }
     .div-right {
          width:832px;
          width: 90%;
          display: flex;
          flex-direction: column;
          row-gap: 32px;
          align-items: center;
          text-align: center;
     }
     .div-left {
          width: 832px;
          width: 90%;
          height: 334px;
     }
     .top-div {
          width: 832px;
          width: 100%;
     }
     .radius {
          width: 400px;
     }
     .tatle-p {
          font-size: 40px;
          line-height: 48px;
     }
     .main-blok {
          justify-content: center;
          text-align: center;
     }
     .footer-conteiner {
          flex-direction: column;
          row-gap: 64px;
     }
     .footer {
          row-gap: 32px;
          width: 100%;
     }
     .footer-right {
          width: 100%;
     }
}
/* 1) 442 დან იწყებს ბურგერი ოდნავ დაპატარავებას და მასე უნდაიყოს თუ არა არ ვიცი. */
@media (max-width: 430px ) {
     .logo {
          order: 1;
     }
     .burger {
          order: 2;
     }
     .auto-div {
          display: none;
     }
     .conteiner-1 {
          row-gap: 32px;
          width: 93%;
          padding-top: 32px;
          padding-bottom: 32px;
     }
     .right-block {
          width: 100%;
     }
     .left-block {
          width: 100%;
     }
     .travel {
          font-size: 40px;
          max-width: 398px;
          width: 100%;
          
     }
     .p-div {
          max-width: 398px;
     }
     .title-p {
          font-size: 16px;
          line-height: 19.2px;
     }
     .clic {
          flex-direction: column;
          row-gap: 24px;
          height: 161px;
          width: 100%;
     }
     .started {
          width: 100%;
          height: 65px;
     }
     .demo {
          width: 100%;
          height: 65px;
     }
     .icon {
          height: 136px;
          row-gap: 26px;
          column-gap: 26px;
     }
     .icon-div {
          height: 20px;
     }
     .conteiner-2 {
          padding-top: 32px;
          padding-bottom: 32px;
          row-gap: 32px;
     }
     .Destination {
          font-size: 16px;
     }
     .tatle-p {
          font-size: 32px;
          line-height: 38.6px;
          height: 76px;
          width: 90%;
     }
     .title-reit {
          row-gap: 32px;
     }
     .contein-arrow {
          width: 100%;
          justify-content: space-between;
     }
     .arrow {
          width: 64px;
          height: 64px;
     }
     .mini-conteiner {
          flex-direction: column;
          width: 398px;
          width: 100%;
          height: 1789px;
          row-gap: 32px;
     }
     .height {
          /* height: 575px; */
          width: 100%;
     }
     .image-class {
          height: 314px;
          width: 278px;
          width: 100%;
     }
     .conteiner-3 {
          width: 398px;
          width: 90%;
          row-gap: 16px;
     }
     .girl {
          width: 100%;
     }
     .blok {
          width: 398px;
          width: 100%;
          height: 905px;
          row-gap: 32px;
     }
     .rome {
          font-size: 16px;
          line-height: 25.6px;
     }
     .div-left {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          height: 652px;
     }
     .top-div {
          flex-direction: column;
          row-gap: 16px;
     }
     .radius {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 151px;
          row-gap: 16px;
     }
     .conteiner-4 {
          padding-top: 32px;
          padding-bottom: 32px;
          height: 1191px;
     }
     .contein-icon {
          display: flex;
          flex-direction: column;
     }
     .div-icon {
          flex-direction: column;
          height: 290px;
          padding-top: 32px;
          row-gap: 32px;
     }
     .footer-conteiner {
          row-gap: 64px;
     }
     .footer-right {
          flex-direction: column;
          row-gap: 64px;
     }
     .footer-tit {
          display: none;
     }
}